<a href="https://www.pythonista.io"> <img src="img/pythonista.png"></a>

# Dataframes.

## Funciones de composición de data frames.

### La función ```cbind()```.

```
cbind(<objeto 1>, <objeto 2> ...<objeto 3>)
```

**Ejemplo:**

In [ ]:
nomina = nombre=c("Juan", "Felipe", "María", "Alberto")
apellido=c("Pérez", "López", "Sánchez", "Gutiérrez")
puesto=c("Gerente", "Director", "Contadora", "Auxiliar")
sueldo= c(30000, 25000, 15000, 10000)

In [ ]:
cbind(nombre, apellido, puesto, sueldo)

In [ ]:
nomina <- cbind(nombre, apellido, puesto, sueldo)

In [ ]:
class(nomina)

## La función ```rbind()```.

```
rbind(<objeto 1>, <objeto 2> ...<objeto 3>)
```

**Ejemplo:**

In [ ]:
rbind(nomina, c("Raul", "Juárez", "Supervisor", 25000))

## Nombres de columnas y renglones.

### Asignación de nombres mediante ```dimname()```.

In [ ]:
nomina <- data.frame(nombre=c("Juan", "Felipe", "María", "Alberto"),
    apellido=c("Pérez", "López", "Sánchez", "Gutiérrez"),
    puesto=c("Gerente", "Director", "Contadora", "Auxiliar"),
    sueldo= c(30000, 25000, 15000, 10000))

In [ ]:
dimnames(nomina)

In [ ]:
dimnames(nomina)[[1]] <- c("Nivel 1", "Nivel 2", "Nivel 3","Nivel 4")

In [ ]:
nomina

### Las funciones ```rownames()``` y ```colnames()```.

In [ ]:
rownames(nomina)

In [ ]:
colnames(nomina)

## Indexado de un dataframe.

### Selección de renglones.

```
<df>[<renglón>,]
```

**Ejemplo:**

In [ ]:
nomina

In [ ]:
nomina[2,]

In [ ]:
nomina["Nivel 1",]

In [ ]:
nomina[c(2,1),]

### Selección de una columna.

```
<df>[columna]
```

**Ejemplo:**

In [ ]:
nomina

In [ ]:
nomina[1]

In [ ]:
nomina[c("nombre","apellido")]

### Selección de columna como un objeto ```factor```.


```
<df>[,"<nombre de columna>"]
```
```
<df>$<nombre columna>
```

**Ejemplo:**

In [ ]:
nomina[,"nombre"]

In [ ]:
nomina$nombre

In [ ]:
nomina$sueldo > 20000

## Modificación de una columna.

In [ ]:
nomina

In [ ]:
nomina["sueldo"] <- c(300,250,150,100)

In [ ]:
nomina

## Eliminación de columnas.

```
<df>$<columna> <- NULL
```

**Ejemplo:**

In [ ]:
nomina

In [ ]:
nomina$puesto <- NULL

In [ ]:
nomina

## La función ```apply()```

```
apply(<df>, <índice>, FUN=<función>)
```
Donde:

* ```<índice>``` es un número que indica la dimensión en la que se aplicará ```<función>```.
    * ```1``` es para renglones.
    * ```2``` es para columnas.

**Ejemplos:**

In [ ]:
nomina <- data.frame(nombre=c("Juan", "Felipe", "María", "Alberto"),
                     apellido=c("Pérez", "López", "Sánchez", "Gutiérrez"),
                     puesto=c("Gerente", "Director", "Contadora", "Auxiliar"),
                    sueldo= c(30000, 25000, 15000, 10000))

In [ ]:
apply(nomina["sueldo"], 2, sum)

In [ ]:
apply(nomina["sueldo"], 2, mean)

In [ ]:
apply(nomina["sueldo"], 2, mean)

In [ ]:
apply(nomina["sueldo"], 2, function(x){x*1.16})

In [ ]:
nominaplace()

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2020.</p>